[data-aura-widget="toolbar"], [data-aura-widget="toolbar@another-source-toolbar"] {
    width: 500px;
    height: 30px;
    border: 1px solid #999;
}

[data-aura-widget="toolbar"] *, [data-aura-widget="toolbar@another-source-toolbar"] * { 
    float: left;
    margin: auto;
}

[data-aura-widget="viewport"]  {
    clear: both;
    border: 1px solid #999;
    width: 500px;
    height: 700px;
}

