<div data-aura-widget="toolbar" data-aura-navigation="toolbar-navigation" data-aura-nb-page="{{nbPage}}"></div>
<div data-aura-widget="toolbar" data-aura-navigation="toolbar-navigation-require"></div>
<div data-aura-widget="viewport"></div>
