{{#if doc}}
{{doc.name}}
<div data-aura-widget="toolbar-download"></div>
<div data-aura-widget="toolbar-navigation"></div>
<div data-aura-widget="toolbar-display"></div>
<div class='pop_up'></div>
{{else}}
  Loading...
{{/if}}