<input type='button' class='page-less' value='<-'></input>
<input type='input' class='current-page' size='3' value='{{doc.currentPage}}'></input>
<p > / <p class='total-page'>{{doc.nbPages}}}</p></p>
<input type='button' class='page-more' value='->'></input>

