<div data-aura-widget="toolbar-download"></div>

<div data-aura-widget="{{navigation}}"
{{#if nbPage}}
	 data-aura-nb-page="{{nbPage}}"
{{/if}}
></div>

<div data-aura-widget="toolbar-display"></div>
<div class='pop_up'></div>
